/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
@font-face {
  font-family: retroBit;
  src: url(/fonts/bit.ttf);
}
@font-face {
  font-family: retroBit16;
  src: url(/fonts/bit16.ttf);
}
h1 {
  color: #FF8400;
}
h2 {
  color: #FF8C00;
}
#index h1 {
  color: #49708a;
  font-family: 'retroBit';
}
#index h2 {
  color: #49708a;
  font-family: 'retroBit';
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #88abc2;
  font-family: 'retroBit16';
  /* Note: This gradient may render differently in browsers that don't support the unprefixed gradient syntax */
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(top left, #d0e0eb 0%, #ebf7f8 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top left, #d0e0eb 0%, #ebf7f8 100%);
  /* Opera */
  background-image: -o-linear-gradient(top left, #d0e0eb 0%, #ebf7f8 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #d0e0eb), color-stop(1, #ebf7f8));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top left, #d0e0eb 0%, #ebf7f8 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to bottom right, #d0e0eb 0%, #ebf7f8 100%);
}
/* navbar */
.navbar-default {
  background-color: #abeb09;
  border-color: #d0e0eb;
  color: #49708a;
  
  height: 56px;
}
/* title */
.navbar-default .navbar-brand {
  color: #49708a;
  font-size: xx-large;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #333;
}
/* link */
.navbar-default .navbar-nav > li > a {
  color: #49708a;
  font-size: x-large;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #d0e0eb;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #d0e0eb;
}
